h1 {
    color: brown;
}

* {
    border: solid;
}
.header{
    background-color: blueviolet;
    display:flex;
    justify-content: center;
}
.hero{
    background-color: chocolate;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.rock{
    background-color: crimson;
}